body{
    background-color: black;
    font-family: arial;
    font-size: medium;
}
.jokeSection{
    background-color: whitesmoke;
    margin-top: 300px;
    margin-right: 400px;
    margin-left: 400px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 30px;
}
.btn{
    margin-left: 210px;
    margin-top: 80px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}
